<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>ORODOC</h1>
          <form #signupForm="ngForm" role="form" id="login-form" (ngSubmit)="signup(signupForm)">
            <div class="form-group">
              <label for="name" class="sr-only">Name</label>
              <input type="text" name="name" id="email" class="form-control" placeholder="Jon Doe" required ngModel>
            </div>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" required ngModel>
            </div>


            <div class="form-group">
              <label for="age" class="sr-only">Age</label>
              <input type="number" name="age" id="email" class="form-control" placeholder="23" required ngModel>
            </div>

            <div class="form-group">
              <label for="email" class="sr-only">User Name</label>
              <input type="email" name="user_name" id="email" class="form-control" placeholder="User name" required ngModel>
            </div>

            <div class="form-group">
              <label for="role" class="sr-only">Role</label>
              <select class="form-control" name="role" required ngModel>
                <option value="1">Patient</option>
                <option value="2">Doctor</option>
                <option value="3">Pharmacist</option>
              </select>
            </div>

            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <input type="password" name="password" id="key" class="form-control" placeholder="Password" required ngModel>
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in" [disabled]="signupForm.invalid">
          </form>
          <a [routerLink]="['/login']">Back to login</a>
          <div class="alert" *ngIf="loader">
            Loading..
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error_message">
            {{error_message}}
          </div>
          <hr>
        </div>
      </div>
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Orodoc © - 2018</p>
        <p>Powered by <strong><a href="https://www.linkedin.com/in/muditjuneja" target="_blank">Mudit Juneja</a></strong></p>
      </div>
    </div>
  </div>
</footer>