<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Users</div>
          <div class="panel-body">
            <table class="table" *ngIf="users.length">
              <thead>
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td scope="row">{{user.name}}</td>
                  <td><button (click)="requestRecord(user)" type="button" class="btn btn-primary">Request</button></td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!users.length">
              No User found
            </p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Pending Requests</div>
          <div class="panel-body">
            <table class="table" *ngIf="pending_requests.length">

              <thead>
                <tr>
                  <th>Name</th>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of pending_requests">
                  <td scope="row">{{request.requested_for.name}}</td>
                  <td>{{request.status}}</td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!pending_requests.length">
              No Pending requests
            </p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Approved Requests</div>
          <div class="panel-body">
            <table class="table" *ngIf="approved_requests.length">

              <thead>
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of approved_requests">
                  <td scope="row">{{request.requested_for.name}}</td>
                  <td><button (click)="viewRecord()" type="button" class="btn btn-default">View Record</button></td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!approved_requests.length">
              No Approved requests
            </p>
          </div>
        </div>

      </div>

    </div>


  </div>
