<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">Record Requests</div>
          <div class="panel-body">
            <table class="table" *ngIf="requests.length">

              <thead>
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of requests">
                  <td scope="row">{{request.requested_by.name}}</td>
                  <td scope="row"><span *ngIf="request.requested_by.role == 2"> Doctor </span><span *ngIf="request.requested_by.role == 3"> Pharmacist </span></td>
                  <td><button (click)="approve(request)" type="button" class="btn btn-primary">Approve</button></td>
                  <td><button (click)="reject(request)" type="button" class="btn btn-danger">Reject</button></td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="!requests.length"> No one has requested records</p>
          </div>
        </div>

      </div>
    </div>


  </div>
