<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>ORODOC</h1>
          <form #loginForm="ngForm" role="form" id="login-form" autocomplete="off" (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="user_name" id="email" class="form-control" placeholder="somebody@example.com" required ngModel>
            </div>
            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <input type="password" name="password" id="key" class="form-control" placeholder="Password" required ngModel>
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in" [disabled]="loginForm.invalid">
          </form>
          <a [routerLink]="['/signup']">Signup?</a>
          <div class="alert" *ngIf="loader">
            Loading..
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error_message">
            {{error_message}}
          </div>
          <hr>
        </div>
      </div>
      <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Orodoc © - 2018</p>
        <p>Powered by <strong><a href="https://www.linkedin.com/in/muditjuneja" target="_blank">Mudit Juneja</a></strong></p>
      </div>
    </div>
  </div>
</footer>